/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
}

.basic-margins {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.center {
    text-align: center;
}

.logo {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    height: 25px;
    width: 25px;
}

.column-two {
    float: left;
    width: 50%;
}

.column-three {
    float: left;
    width: 33.33%;
}

.column-four {
    float: left;
    width: 25%;
}

.left-uneven-less {
    float: left;
    width: 30%;
}

.left-uneven-more {
    float: left;
    width: 40%;
}

.right-uneven-less {
    float: left;
    width: 70%;
}

.right-uneven-more {
    float: left;
    width: 60%;
}

.button {
    background-color: #cc5500; /* Burnt Orange */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.smaller {
    font-size: 10px;
}

.mySlides {
    display: none;
    width: 750px;
    height: 500.1px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.pagePics {
    width: 375px;
    height: 212.5px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.testimonialPics {
    width: 350px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.orange {
    color: #cc5500;
    font-weight: bold;
}

.parallax {
    /* The image used */
    background-image: url("../images/picture1.jpg");
    /* Set a specific height */
    height: 375px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.uneven-column-images {
    height: 265px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.two-column-images {
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.four-column-images {
    width: 275px;
    background-position: center;
    height: 480px;
}

.column-text {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
