﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div style="float:right;">
    <img src="~/images/emily-kennedy.jpg" class="basic-margins" style="width:432px;height:288.9px;" />
    <a asp-page="/PlayerTestimonials"><p class="smaller" style="color:#cc5500;text-align:center;">Read Player Testimonials</p></a>
</div>
<h2>@Model.Message</h2>
<p class="body-content">
    Texas Women’s Club Volleyball is a great way for women on campus to continue their love for
    the fast-growing sport. The UT RecSports affiliated organization is comprised of two teams.
    Both teams practice twice a week and actively participate in various fundraising, volunteer,
    and social events. As an organization, we pride ourselves on our highly competitive nature.
    Teams will travel to different cities and states to compete against the best teams in the
    nation. Every year UTWVC teams are national title-contending teams. Our mission is to promote
    the development of the sport of volleyball, while providing a fun, competitive environment.
</p>

<hr />

<img src="~/images/combined-teams.jpg" class="basic-margins" style="width:300px;height:300px;float:left;" />
<h2>Spring 2019 Tryouts</h2>
<p class="body-content">
    We will be hosting tryouts for our Spring 2019 season in January. Due to holiday schedules 
    and the quick start of the spring season, we will only have open gyms before tryouts in 
    December, so it is recommended that players get in the gym on their own time to shake off 
    the winter rust before. Open gym will be held on December 5th from 7-10 PM in the Recreational 
    Sports Center (<a href="https://bit.ly/2ArXxrp">2001 San Jacinto Blvd Austin, TX 78712</a>). 
    Tryouts will be held on January 23rd from 7-10 PM in the same place. There will be a $5 tryout 
    fee. Players who made the team in the fall and are returning for the spring do not have to try 
    out. However, there are still spaces that will be filled by new players that try out! Follow 
    our social media to stay up to date with information.
</p>

<hr />

<h2>Meet Our Coaches</h2>
<h3 class="orange">Matt Cisneros</h3>
<img src="~/images/matt.jpg" class="basic-margins" style="width:432px;height:283.5px;float:right;" />
<p class="body-content">
    Matt Cisneros is going into his third year as head coach of the orange team for UT Women's 
    volleyball club. He has led the team to two national titles, in 2015 and 2018. He has had 9 
    players receive All-American Honors, including MVP in both 2015 and 2018. Matthew played for 
    The University of Texas Men's Volleyball Club (2004-2007) and coached camps for the Texas 
    Longhorn varsity program every summer since 2012. He is also going into his fifth year coaching 
    at Austin Performance Volleyball Club. Prior to moving to Austin, Matthew coached club and 
    private school in El Paso, TX from 2011-2014 where he qualified for Junior Olympics in 2 of the 
    3 years. He has coached all ages from 10-22. In 2015, Matthew also became the head volleyball 
    coach at Austin Waldorf School where he has helped turn the program into a top 10 team in the 
    state for 2A TAPPS.
</p>

<h3 class="orange">Blake Vizzone</h3>
<img src="~/images/blake.jpg" class="basic-margins" style="width:432px;height:288px;float:right;" />
<p class="body-content">
    Blake began his volleyball career in 2006, playing two years on the Texas State Men's club team 
    as a starting outside hitter. After college, he played two years of USAV Men's Indoor as an 
    outside hitter the first year and a middle blocker the second year. Blake has also actively 
    been playing beach volleyball since 2006. In the spring of 2011, Blake began his coaching career 
    as the Assistant Head Coach for the UTWVC white team. He helped lead the team to back to back 
    (2012 and 2013) national championships. Blake joined Austin Juniors indoor club in 2011 as a 
    coach then began coaching AJV Sand in 2016. Blake has been coaching at AJV for over 6 years. 
    Blake became the assistant coach for the orange team and helped lead the team to the 2018 
    national championship.
</p>

<h3 class="orange">Beth Shecterle</h3>
<img src="~/images/beth.jpg" class="basic-margins" style="width:450px;height:300.15px;float:right;" />
<p class="body-content">
    Beth is entering her first year as head coach of the white team for UT Women’s club volleyball. 
    She played volleyball at Pearland High School, where she was named to the 2012 all-state team as 
    a libero and was recognized as District MVP. She went on to play two seasons of college 
    volleyball at Houston Baptist University before transferring to Texas A&M to finish her 
    education. She graduated with a Bachelor’s in Communication and a Master’s in Business. She has 
    stayed active with volleyball through sand tournaments and is looking forward to begin coaching 
    at a local club this season. Despite being an Aggie, Beth is excited to put on burnt orange and 
    kick off her coaching career as a Longhorn!
</p>

<h3 class="orange">Shauntia Carr</h3>
<img src="~/images/shauntia.png" class="basic-margins" style="width:256px;height:304px;float:right;" />
<p class="body-content">
    Shauntia was born and raised in Austin, TX. She attended and played volleyball at Bowie High 
    School, where she was the 2012 1st Team Middle Blocker, captain, MVP, and Offensive Player of 
    the Year. She went on to play at Tennessee State University in Nashville, TN her freshman year 
    of college then finished her career at Southern University A&M in Baton Rouge, LA. She graduated 
    with a Bachelor's in Business Management. She has a wide variety of coaching experience in 
    volleyball ranging from youth rec leagues, coaching clinics, and a summer league team. She 
    spent the past year coaching the 14 Navy team at Austin Juniors Volleyball Club. She looks 
    forward to breaking down the ins, outs, and tricks she has experienced in her career to younger 
    players. She looks forward to pass those experiences on to future, willing players. This is her 
    first season with UTWVC.
</p>