﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h2>@Model.Message</h2>

<p class="body-content">You can email us directly at <a href="mailto:texaswvc@gmail.com">texaswvc@gmail.com</a> or
    fill out this form with any questions, concerns, inquiries, etc. and we will get back to you
    as quickly as possible. You can visit our facebook, instagram, or twitter by scrolling to the
    bottom of this page and clicking on the appropriate link. Thank you for visiting our page and
    Hook 'em!
</p>

<form method="post">
    Name*<br>
    <input type="text" name="firstname" required>
    <input type="text" name="lastname"><br>
    <span class="smaller">
        First&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Last
    </span><br>
    Email Address*<br>
    <input type="text" name="emailaddress" required><br>
    Subject*<br>
    <input type="text" name="subject" required><br>
    Message*<br>
    <textarea name="message" rows="5" cols="40" required></textarea><br>
    <input type="submit" value="Submit">
</form>