﻿@page
@model MembersModel
@{
    ViewData["Title"] = "Members";
}

<?php
// define variables and set to empty values
$result = False;

if ($_SERVER["REQUEST_METHOD"] == "POST") {
  $result = test_input($_POST["password"]);
}

function test_input($data) {
  if ($data == "longhorn1") {
    return True;
  }  else {
    return False;
  }
}
?>

<form method="post" action="<?php echo htmlspecialchars($_SERVER["PHP_SELF"]);?>">
    Password<br>
    <input type="text" name="password" required><br>
    <input type="submit" value="Submit">
</form>

<?php
echo "<h2>Was it right:</h2>";
echo $result;
?>

<h3>@Model.Message</h3>

<p>This page is where we will post forms, calendars, paperwork, etc. for players to access easily.</p>

<h2 style="color:#cc5500;">President Anonymous Form</h2>

<p>
    This form is for y’all to provide feedback, concerns, shoutouts, positive comments, ANYTHING you
    want to. You can either put your name or leave it off. If you want me to respond to you
    personally or address it to the club please leave that in the description. Feel free to
    criticize (nicely please because we are still human) then do that, or you can compliment because
    positive reinforcement is effective! I and other officers like to know when we are doing things
    right/wrong. You can include absolutely anything, doesn’t necessarily have to do with the club.
</p>

<a href="https://docs.google.com/forms/d/e/1FAIpQLSf_1LPON_Fq-sa7v7fPx5SMfNvePuYGqm9yPOSQ6Cv4hiHQbw/viewform">
    Access Form Here
</a>

<h2 style="color:#cc5500;">Calendar</h2>

<iframe width="925" height="1000"
        src="https://docs.google.com/spreadsheets/d/1JcWTaeqTt8X1FOXvtEt2enbZVwKTjbqb-LarySHC5sM/edit#gid=0"></iframe>
