﻿@page
@model OfficersModel
@{
    ViewData["Title"] = "Officers";
}

<div class="center">
    <h2>@Model.Message</h2>

    <p class="body-content">
        Our officer team consists of 3 authorized representatives (President, Vice President, and
        Treasurer) who conduct official club business with UT RecSports and our chair positions. The
        three authorized representative positions are elected at the start of spring semester and serve
        in their position for two semesters. Our chair positions include social, public relations,
        fundraising, apparel, tournament, and travel. Chair positions are elected at the start of each
        semester and serve in their position for one semester.
    </p>
</div>

<div class="row">
    <div class="left-uneven-less">
        <div class="center">
            <br>
            <img src="~/images/monica.jpg" class="uneven-column-images" /><br>
            <img src="~/images/annika.png" class="uneven-column-images" /><br>
            <img src="~/images/jenna.jpeg" class="uneven-column-images" /><br>
            <img src="~/images/monica.jpg" class="uneven-column-images" /><br>
            <img src="~/images/baylee.jpg" class="uneven-column-images" /><br>
            <img src="~/images/kathy.jpg" class="uneven-column-images" /><br>
            <img src="~/images/ali.jpg" class="uneven-column-images" /><br>
            <img src="~/images/monica.jpg" class="uneven-column-images" /><br>
            <img src="~/images/bryn.jpg" class="uneven-column-images" /><br>
            <img src="~/images/mad.jpg" class="uneven-column-images" /><br>
        </div>
    </div>
    <div class="right-uneven-less">
        <h3 class="orange">President</h3>
        <ul>
            <li>Name: Monica Roberts</li>
            <li>Classification/Major: Junior, Computational Biology; Kinesiology Minor</li>
            <li>Hometown: El Paso, TX</li>
            <li>Position: OH/DS</li>
            <li>
                Fun Fact: "I went through a fan girl year when I was 15 and met One Direction and waited in
                line for an Ed Sheeran concert for 14 hours."
            </li>
        </ul>
        <a class="button" style="text-decoration:none;" href="mailto:mproberts99@gmail.com">Contact</a>
        <br>

        <h3 class="orange">Vice President</h3>
        <ul>
            <li>Name: Annika Angove-Rogers</li>
            <li>Classification/Major: Sophomore, Supply Chain Management</li>
            <li>Hometown: Cypress, TX</li>
            <li>Position: Libero/DS</li>
            <li>Fun Fact: "I love to bake and I’m obsessed with animals."</li>
        </ul>
        <br>
        <a class="button" style="text-decoration:none;" href="mailto:annika.angove@gmail.com">Contact</a>
        <br>

        <h3 class="orange">Treasurer</h3>
        <ul>
            <li>Name: Jenna Chenette</li>
            <li>Classification/Major: Sophomore, Computer Science</li>
            <li>Hometown: Friendswood, TX</li>
            <li>Position: OH/RS</li>
            <li>Fun Fact: "I'm the shortest person in my family."</li>
        </ul>
        <br>
        <a class="button" style="text-decoration:none;" href="mailto:jen.chen18@yahoo.com">Contact</a>
        <br><br>

        <h3 class="orange">Fundraising Chair</h3>
        <ul>
            <li>Name: Hana Arriaga</li>
            <li>Classification/Major: Sophomore</li>
            <li>Hometown: Austin, TX</li>
            <li>Position: Libero/DS</li>
            <li>Fun Fact:</li>
        </ul>
        <br><br><br>

        <h3 class="orange">Travel Chair</h3>
        <ul>
            <li>Name: Baylee O’Brien</li>
            <li>Classification/Major: Sophomore, Neuroscience</li>
            <li>Hometown: Tomball, TX</li>
            <li>Position: RS/S</li>
            <li>Fun Fact: "I’ve been to 10 countries."</li>
        </ul>
        <br><br><br>

        <h3 class="orange">Tournament Chair</h3>
        <ul>
            <li>Name: Kathy Woo</li>
            <li>Classification/Major: Junior</li>
            <li>Hometown:</li>
            <li>Position: S</li>
            <li>Fun Fact:</li>
        </ul>
        <br><br><br>

        <h3 class="orange">Apparel Chair</h3>
        <ul>
            <li>Name: Ali Davison</li>
            <li>Classification/Major: Junior, Radio, Television & Film</li>
            <li>Hometown: Round Rock, TX</li>
            <li>Position: OH/RS</li>
            <li>Fun Fact: "I have a twin brother."</li>
        </ul>
        <br><br><br>

        <h3 class="orange">Apparel Chair</h3>
        <ul>
            <li>Name: Sierra Wood</li>
            <li>Classification/Major: Freshman</li>
            <li>Hometown:</li>
            <li>Position: RS</li>
            <li>Fun Fact:</li>
        </ul>
        <br><br><br>

        <h3 class="orange">Social Chair</h3>
        <ul>
            <li>Name: BrynCaitlin Walker</li>
            <li>Classification/Major: Junior, Corporate Communications</li>
            <li>Hometown: San Antonio, TX</li>
            <li>Position: OH</li>
            <li>
                Fun Fact: "I can juggle, the biggest pet I’ve ever had is a hermit crab, and I’m related
                to the guy who wrote the star spangled banner."
            </li>
        </ul>
        <br><br><br>

        <h3 class="orange">Social Chair</h3>
        <ul>
            <li>Name: Madalena Almanza</li>
            <li>Classification/Major: Junior, Anthropology</li>
            <li>Hometown: Austin, TX</li>
            <li>Position: MB</li>
            <li>Fun Fact: "I eat easy mac and ramen at least 5 times a week each."</li>
        </ul>
    </div>
</div>
