﻿@page
@model PhotosModel
@{
    ViewData["Title"] = "Photos";
}

<h2 class="center">@Model.Message</h2>

<div class="w3-content w3-section">
    <img class="mySlides" src="~/images/picture1.jpg" />
    <img class="mySlides" src="~/images/picture2.jpg" />
    <img class="mySlides" src="~/images/picture3.jpg" />
    <img class="mySlides" src="~/images/picture4.jpg" />
    <img class="mySlides" src="~/images/picture5.jpg" />
    <img class="mySlides" src="~/images/picture6.jpg" />
    <img class="mySlides" src="~/images/picture7.jpg" />
    <img class="mySlides" src="~/images/picture8.jpg" />
</div>

    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 3000); // Change image every 3 seconds
        }
    </script>
