﻿@page
@model RankingTournamentModel
@{
    ViewData["Title"] = "Ranking Tournament";
}

<div class="row">
    <div class="column-four">
        <div class="four-column-images" style="background-image:url('../images/high-five.jpg');"></div>
    </div>
    <div class="column-four">
        <div class="four-column-images" style="background-image:url('../images/huddle.jpg');"></div>
    </div>
    <div class="column-four">
        <div class="four-column-images" style="background-image:url('../images/riley-hit.jpg');"></div>
    </div>
    <div class="column-four">
        <div class="four-column-images" style="background-image:url('../images/monica-pass.jpg');"></div>
    </div>
</div>

<h2>@Model.Message</h2>

<ul>
    <li>
        <span class="orange">Location</span><br><a href="https://bit.ly/2ArXxrp">
            University
            of Texas Recreational Sports Center<br>2001 San Jacinto Blvd Austin, TX 78712
        </a>
    </li>
    <li>
        <span class="orange">Registration</span><br>Deadline is Friday, <b>February 1st</b>.
        The registration fee is $350 per team.
    </li>
    <li>
        <span class="orange">Host Contact</span><br>Monica Roberts<br>Email:
        <a href="mailto:texaswvc@gmail.com">texaswvc@gmail.com</a> <br>Phone: (915)-637-7921
    </li>
    <li>
        <span class="orange">Tournament Director</span><br>Michael Jackson<br>Email:
        <a href="mailto:mjackson@ncvfvolleyball.org">mjackson@ncvfvolleyball.org</a>
        <br>Phone: (537)-673-3840
    </li>
    <li>
        <span class="orange">Tournament Rules Statement</span>
        <br>All NCVF Governance Rules will apply.
        <ul>
            <li>
                Tournament Seeding & Pool Play Assignments Statement<br>All tournament seeding will be
                determined by the NCVF Women’s Committee.
            </li>
            <li>
                Tournament Officials<br>At least one certified official will be be assigned to each match.
            </li>
            <li>
                Team Selection Statement<br>A-Team Priority - All A-teams are given priority up until 21 days
                before the start of the tournament (02/01/19).  All B-teams will be placed onto a wait-list,
                in order of contact to the host school.  Should openings be available after 21 days prior to
                the tournament (02/01/19), B-teams will be contacted, in order, of notification of entry to
                the event.
            </li>
            <li>
                Team Withdrawal Statement<br>Teams may withdraw from the event if a request is made in
                writing at least 21 days before the tournament, by February 1st. Refund requests received
                after this time period will not be granted except by the NCVF Women’s Committee (acts of God,
                dangerous weather conditions, etc.).  The hosting school must notify the NCVF Women's
                Committee of any school that withdraws less than 21 days before the tournament. Such teams
                may be subject to sanctions.  The hosting school is required to provide a full refund within
                30 days of written withdrawal.
            </li>
        </ul>
    </li>
    <li><span class="orange">Schedule</span><br>TBD</li>
    <li>
        <span class="orange">Registered Teams</span>
        <ol>
            <li>University of Texas at Austin- A <i>(Paid)</i></li>
            <li>University of Texas at Austin- B <i>(Paid)</i></li>
            <li>University of Miami</li>
            <li>University of Central Florida- A <i>(Paid)</i></li>
            <li>University of Colorado Boulder- A <i>(Paid)</i></li>
            <li>University of Arizona- A</li>
            <li>Texas State University</li>
            <li>University of Denver- A</li>
            <li>University of Floridali>
            <li>Colorado State University- A </li>
            <li>University of Pittsburgh- A</li>
            <li>Stetson University </li>
        </ol>
    </li>
    <li>
        <span class="orange">Waitlisted Teams</span>
        <ol>
            <li>University of Central Florida- B</li>
            <li>University of Colorado Boulder- B</li>
            <li>University of Arizonza- B</li>
            <li>University of Denver- B</li>
            <li>Colorado State University- B</li>
            <li>University of Pittsburgh- B</li>
        </ol>
    </li>
</ul>

<a class="orange" style="text-decoration:none;" asp-page="/RecommendedHotels"><h1 class="center">Recommended List of Hotels</h1></a>
<hr>
<a class="orange" style="text-decoration:none;" href="https://bit.ly/2ETeOxg"><h1 class="center">Fun Things to do in Austin</h1></a>