﻿@page
@model RosterModel
@{
    ViewData["Title"] = "Roster";
}

<h2 class="center">@Model.Message</h2>

<div class="center">
    <div class="row">
        <div class="column-two">
            <h3 class="orange">Orange Team</h3>
            <p class="body-content">
                #1 Cabrina Becker<br>#2 Annika Angove-Rogers<br>#3 Victoria Clitheroe<br>#4 Madalena Almanza
                <br>#5 Carolina Mendez<br>#7 Alexandra Davison<br>#8 BrynCaitlin Walker<br>#9 Monica Roberts<br>
                #11 Charlotte Brown<br>#12 Sophia Kidd<br>#15 Baylee O’Brien
            </p>
        </div>
        <div class="column-two">
            <h3 class="orange">White Team</h3>
            <p class="body-content">
                #1 Kelsey Gaertner<br>#2 Hana Arriaga<br>#3 Riley Risinger<br>#4 Aylin Hernandez<br>
                #5 Kyndle Reece<br>#6 McKenzie Wells<br>#7 Gabrielle Fultz<br>#8 Jenna Chenette<br>
                #9 Sierra Wood<br>#11 Alexandra McDonough<br>#12 Katherine Woo<br>#13 Paula Hammond<br>
                #14 Claire Mayorga<br>#15 Laura Wright
            </p>
        </div>
    </div>
</div>