﻿@page
@model ScheduleModel
@{
    ViewData["Title"] = "Schedule";
}

<h2>@Model.Message</h2>

<p>*Subject to Change*</p>

<p>
   <span class="orange">01/23 Spring 2019 Tryouts: 7-10 PM</span>
   <br>Location: <a href="https://bit.ly/2ArXxrp">Recreational Sports Center (2001 San Jacinto Blvd Austin, TX 78712)</a><br>
</p>

<p class="orange">02/02 SIVA South &#64; Baylor University<br></p>

<p>
    <span class="orange">02/09-02/10 Scarlet & Gray Classic Ranking Tournament &#64; Ohio State University (Orange Team Only)</span>
    <br>Location: <a href="https://bit.ly/2ArXxrp">Recreation and Physical Activity Center (337 Annie and John Glenn Ave. Columbus, OH 43210)</a><br>
</p>

<p>
   <span class="orange">02/17 Game vs. St. Edwards University (White Team Only)</span>
   <br>Location: <a href="https://bit.ly/2Q4kipW">Recreation and Convocation Center (3001 S Congress Ave, Austin, TX 78704)</a><br>
</p>

<p>
   <span class="orange">02/23-02/24 Longhorn Invitational Ranking Tournament &#64; Home</span>
   <br>Location: <a href="https://bit.ly/2ArXxrp">Recreational Sports Center (2001 San Jacinto Blvd Austin, TX 78712)</a><br>
</p>

<p class="orange">03/02 SIVA Women’s Crossover &#64; Texas State University<br></p>

<p class="orange">03/16 College Showcase &#64; Houston CrossCourt Classic<br></p>

<p>
    <span class="orange">03/30 SIVA Championships &#64; Fort Worth, TX</span>
    <br>Location: <a href="https://bit.ly/2QWhMI1">Game On Sports Complex (2600 Alemeda St, Fort Worth, TX 76108)</a><br>
</p>

<p>
    <span class="orange">04/17-04/20 NCVF Championships &#64; Denver, CO</span>
    <br>Location: <a href="https://bit.ly/2TaRbn1">Colorado Convention Center (700 14th St Denver, CO 80202)</a>
</p>
